*{
	padding: 0px;
	margin:0px;
	box-sizing: border-box;
}
body{
	width:100%;
}
header{
	background-color: blue;
	color:white;
	text-align:center;
	font-size: 20px;
	padding:30px;
}
nav{
	float:left;
	width: 30%;
	background-color: lightblue;
	height: 300px;
	padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
article{
	float:left;
	width:70%;
	height:300px;
	padding: 20px;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}